.widget-add-item {
  border: 1px solid $blue;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  padding: 5px;
  text-align: left;
  transition: all 300ms;
  width: 100%;

  &.selected {
    border: 1px solid $white !important;
  }

  &:hover {
    border: 1px solid $blue * 1.25;
  }

  .widget-add-item--inner {
    height: 100%;
    width: 100%;
  }
}
