$dropdown-count: 5;
$dropdown-height: 44px;

.dropdown {
  perspective: 800px;
  position: relative;
  min-width: 175px;
  display: block;
  user-select: none;

  .icon {
    position: absolute;
    top: -16px;
    left: -18px;
    font-size: 5rem;
    color: $almost-black;
  }

  .dropdown__title {
    overflow: hidden;
    z-index: 1004;
    transform-origin: 100%;
    transition: all 200ms;
    background: $blue;
    color: $white;
    cursor: pointer;
    padding: 1rem;
    max-height: $dropdown-height;
    box-sizing: border-box;
    min-height: $dropdown-height;
    position: relative;

    &:active {
      transform: rotateY(-10deg);
    }
  }

  .dropdown__list {
    list-style-type: none;
    position: absolute;
    overflow: hidden;
    top: $dropdown-height;
    left: 0;
    right: 0;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  }

  &.dropdown--open {
    .dropdown__list li {
      visibility: visible;
      right: 0;
    }

    .dropdown__list {
      opacity: 1;
      visibility: visible;

      $i: 1;
      $z: 25;
      @while $i < $dropdown-count {
        li:nth-child(#{$i}) {
          transition-delay: 0.05s * $i;
        }
        $i: $i + 1;
      }
    }
  }

  &.dropdown--closed {
    .dropdown__list li {
      visibility: hidden;
      right: -75px;
    }

    .dropdown__list {
      opacity: 0;
      visibility: hidden;

      $i: $dropdown-count;
      $x: 0;
      @while $i > 0 {
        li:nth-child(#{$x}) {
          transition-delay: 0.05s * $i;
        }
        $i: $i - 1;
        $x: $x + 1;
      }
    }
  }

  &.dropdown--has-title {
    .dropdown__title {
      padding-left: 4.5rem;
    }
  }
}