.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.25);
  z-index: 9999;
  transition: all $default-anim $default-anim-speed;
  perspective: 800px;

  &.overlay--visible {
    visibility: visible;
    opacity: 1;
  }

  &.overlay--hidden {
    visibility: hidden;
    opacity: 0;

    .modal {
      top: -5%;
      transform: rotateX(45deg);
    }
  }
}